.main-clock{
    height: 250px;
    width: 750px;
    border: 2px solid teal;
    background-color: black;
    color: bisque;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
    border-radius: 125px;
}
.main-clock div{
    height: 200px;
    width: 200px;
    border: 8px solid aqua;
    border-radius: 50%;
    
}
h1{
    margin-left: 85px;
    margin-top: 85px;
}